---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app k8s-gateway
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      replicas: 3
      strategy: RollingUpdate
      rollingUpdate:
        unavailable: 1
        surge: 1
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: quay.io/oriedge/k8s_gateway
      tag: v0.4.0
    args: ["-conf", "/etc/coredns/Corefile"]
    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${LB_K8S_GATEWAY_IP}"
        ports:
          http:
            enabled: false
          metrics:
            enabled: true
            port: 9153
          dns:
            enabled: true
            port: 53
            targetPort: 1053
            protocol: UDP
    serviceAccount:
      create: true
      name: *app
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    probes:
      readiness:
        custom: true
        spec:
          httpGet:
            path: /ready
            port: 8181
            scheme: HTTP
      liveness:
        custom: true
        spec:
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
      startup:
        custom: true
        spec:
          httpGet:
            path: /ready
            port: 8181
            scheme: HTTP
    persistence:
      config-file:
        enabled: true
        type: configMap
        name: k8s-gateway-configmap
        subPath: Corefile
        mountPath: /etc/coredns/Corefile
        readOnly: true
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
