#
# Cluster related variables
#

# The repo you created from this template
# e.g. https://github.com/k8s-at-home/home-cluster
export BOOTSTRAP_GIT_REPOSITORY=""

# Your cluster name
export BOOTSTRAP_CLUSTER_NAME=""

# Optional: Enable GitHub to send a webhook to update Flux, set the following to one of:
# ignored - this feature will be disabled
# generated - this will generate a token and print it in the logs
# Set this to any other string and it will be used for the secret
export BOOTSTRAP_FLUX_GITHUB_WEBHOOK_SECRET=""

# Choose one of your cloudflare domains
# e.g. k8s-at-home.com
export BOOTSTRAP_CLOUDFLARE_DOMAIN=""
# internal domain e.g. k8s-at-home.lan
export BOOTSTRAP_PRIVATE_DOMAIN=""
# The email you use to sign into Cloudflare with
export BOOTSTRAP_CLOUDFLARE_EMAIL=""
# Your global Cloudflare API Key
export BOOTSTRAP_CLOUDFLARE_APIKEY=""

# Pick a range of unused IPs that are on the same network as your nodes
# You don't need many IPs, just choose 10 IPs to start with
# e.g. 192.168.1.220-192.168.1.230
export BOOTSTRAP_METALLB_LB_RANGE=""
# The load balancer IP for k8s_gateway, choose from one of the available IPs above
# e.g. 192.168.1.220
export BOOTSTRAP_METALLB_K8S_GATEWAY_ADDR=""
# The load balancer IP for traefik, choose from one of the available IPs above
# that doesn't conflict with any other IP addresses here
# e.g. 192.168.1.221
export BOOTSTRAP_METALLB_TRAEFIK_ADDR=""

# Age Public Key - string should start with age
# e.g. age15uzrw396e67z9wdzsxzdk7ka0g2gr3l460e0slaea563zll3hdfqwqxdta
export BOOTSTRAP_AGE_PUBLIC_KEY=""

# The IP Address to use with KubeVIP
# Pick a unused IP that is on the same network as your nodes
# and outside the ${BOOTSTRAP_METALLB_LB_RANGE} range
# and doesn't conflict with any other IP addresses here
# e.g. 192.168.1.254
export BOOTSTRAP_KUBE_VIP_ADDR=""

# Choose your timezone
# Used to set your systems timezone
# and Kured timezone
# e.g. America/New_York
export BOOTSTRAP_TIMEZONE=""

# SSH Authorized public keys to add to the nodes
export BOOTSTRAP_SSH_AUTHORIZED_KEYS=""
#
# Ansible related variables
#

#
# Default prefixes for hostnames assigned by Ansible
# These are unused on nodes where BOOTSTRAP_ANSIBLE_HOSTNAME_ is provided
#

export BOOTSTRAP_ANSIBLE_DEFAULT_CONTROL_NODE_HOSTNAME_PREFIX=""
export BOOTSTRAP_ANSIBLE_DEFAULT_NODE_HOSTNAME_PREFIX=""

#
# Ansible hosts - repeat this block as many times as you need,
# incrementing the last digit on the variable name for each node
#

# Host IP Address to the control plane node
# That doesn't conflict with any other IP addresses here
# e.g. 192.168.1.200
export BOOTSTRAP_ANSIBLE_HOST_ADDR_0=""
# User Ansible will log into the nodes
export BOOTSTRAP_ANSIBLE_SSH_USERNAME_0=""
# Password Ansible will use to escalate to sudo
export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_0=""
# Set this node as a control node (true/false)
export BOOTSTRAP_ANSIBLE_CONTROL_NODE_0=""
# Optional: Set the hostname of the node, if set this will override the *_HOSTNAME_PREFIX vars above
export BOOTSTRAP_ANSIBLE_HOSTNAME_0=""

# export BOOTSTRAP_ANSIBLE_HOST_ADDR_1=""
# export BOOTSTRAP_ANSIBLE_SSH_USERNAME_1=""
# export BOOTSTRAP_ANSIBLE_SUDO_PASSWORD_1=""
# export BOOTSTRAP_ANSIBLE_CONTROL_NODE_1=""
# export BOOTSTRAP_ANSIBLE_HOSTNAME_1=""

#
# Minio settings
#
# Minio root username
export BOOTSTRAP_MINIO_ROOT_USERNAME=""
# Minio root password
export BOOTSTRAP_MINIO_ROOT_PASSWORD=""

#
# Lonhorn settings
#
# Longhorn storage mount path (e.g /mnt/volumes)
export BOOTSTRAP_LONGHORN_STORAGE_MOUNT_PATH=""
# Longhorn backup target (NFS or S3) (ex: "nfs://nas.domain.com:/backups" or "s3://longhorn-backup@us-east-1/")
export BOOTSTRAP_LONGHORN_BACKUP_TARGET=""
# If target is S3, S3 access key (ex:"access-key")
export BOOTSTRAP_SECRET_S3_ACCESS_KEY=${BOOTSTRAP_MINIO_ROOT_USERNAME}
# If target is S3, S3 secret key (ex:"secret-key")
export BOOTSTRAP_SECRET_S3_SECRET_KEY=${BOOTSTRAP_MINIO_ROOT_PASSWORD}
# If target is S3 and not aws or google, endpoint url (ex:"http://minio.storage:9000")
export BOOTSTRAP_SECRET_S3_ENDPOINT=""

#
# Prometheus / Alert manager config
#
# Mattermost monitoring chanel webhook
export BOOTSTRAP_ALERT_MANAGER_MATTERMOST_WEBHOOK=""

#
# Grafana config
#
# Grafana admin username
export BOOTSTRAP_GRAFANA_ADMIN_USERNAME=""
# Grafana admin password
export BOOTSTRAP_GRAFANA_ADMIN_PASSWORD=""

#
# VPN access for downloads
#
# Privado VPN
# VPN Username
export BOOTSTRAP_VPN_USERNAME=""
# VPN Password
export BOOTSTRAP_VPN_PASSWORD=""

#
# PLEX
#
# Plex VIP
export BOOTSTRAP_METALLB_PLEX_ADDR=""
# Plex CLAIM (https://www.plex.tv/claim/)
export BOOTSTRAP_PLEX_CLAIM=""


#
# MATTERMOST
#
# Mattermost MySQL username
export BOOTSTRAP_MATTERMOST_MYSQL_USERNAME=""
# Mattermost MySQL password
export BOOTSTRAP_MATTERMOST_MYSQL_PASSWORD=""
# Mattermost MySQL password
export BOOTSTRAP_MATTERMOST_MYSQL_ROOT_PASSWORD=''
# Mattermost MySQL DB name
export BOOTSTRAP_MATTERMOST_MYSQL_DBNAME=""


#
# TESLAMATE
#
# Teslamate PostgreSQL username
export BOOTSTRAP_TESLAMATE_DB_USERNAME=""
# Teslamate PostgreSQL password
export BOOTSTRAP_TESLAMATE_DB_PASSWORD=""
# Teslamate PostgreSQL DB name
export BOOTSTRAP_TESLAMATE_DBNAME=""
# Teslamate Encryption Key to encrypt Tesla API Tokens
export BOOTSTRAP_TESLAMATE_ENCRYPTION_KEY=""
