---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app home-assistant
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      init-db:
        image: ghcr.io/onedr0p/postgres-initdb:14.8
        env:
          - name: POSTGRES_HOST
            value: "postgres-rw.databases.svc.cluster.local."
          - name: POSTGRES_DB
            value: "${SECRET_HOME_ASSISTANT_DBNAME}"
          - name: POSTGRES_USER
            value: "${SECRET_HOME_ASSISTANT_DB_USERNAME}"
          - name: POSTGRES_PASS
            value: "${SECRET_HOME_ASSISTANT_DB_PASSWORD}"
          - name: POSTGRES_SUPER_USER
            value: "${SECRET_POSTGRES_SUPER_USERNAME}"
          - name: POSTGRES_SUPER_PASS
            value: "${SECRET_POSTGRES_SUPER_PASSWORD}"
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/onedr0p/home-assistant
      tag: 2023.11.2@sha256:29a2a48386bcd182c97229892ef123f4ee9d4b1dead7e5ea31a2ecc85fa13ab3
    env:
      TZ: "${TIMEZONE}"
      POSTGRES_HOST: postgres-rw.databases.svc.cluster.local.
      POSTGRES_DB: "${SECRET_HOME_ASSISTANT_DBNAME}"
    service:
      main:
        type: LoadBalancer
        annotations:
          coredns.io/hostname: "redis.${SECRET_PUBLIC_DOMAIN}"
          io.cilium/lb-ipam-ips: "${LB_HOME_ASSISTANT_IP}"
        ports:
          http:
            port: 8123
    ingress:
      main:
        enabled: true
        ingressClassName: "internal"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:home-assistant
          hajimari.io/group: "home"
        hosts:
          - host: &host "hass.${SECRET_PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: home-assistant-tls
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: ceph-block
        labels:
          snapshot.home.arpa/enabled: "true"