---
session:
  name: authelia_session
  same_site: lax
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M
  redis:
    high_availability:
      sentinel_name: redis-master
      nodes:
        - host: redis-node-0.redis-headless.databases.svc.cluster.local
          port: 26379
        - host: redis-node-1.redis-headless.databases.svc.cluster.local
          port: 26379
        - host: redis-node-2.redis-headless.databases.svc.cluster.local
          port: 26379

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

access_control:
  default_policy: two_factor
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules:
    - domain: ["grafana.${SECRET_PUBLIC_DOMAIN}"]
      policy: bypass

totp:
  disable: false
  algorithm: sha1
  digits: 6
  period: 30
  skew: 1
  secret_size: 32

webauthn:
  disable: false
  display_name: Oxygn
  attestation_conveyance_preference: indirect
  user_verification: preferred
  timeout: 60s

duo_api:
  disable: true

identity_providers:
  oidc:
    cors:
      endpoints: ["authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: grafana
        description: Grafana
        secret: "${SECRET_GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://grafana.${SECRET_PUBLIC_DOMAIN}/login/generic_oauth"]
        userinfo_signing_algorithm: none
      - id: weave-gitops
        description: Weave GitOps
        secret: "${SECRET_WEAVEGITOPS_OAUTH_CLIENT_SECRET}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email", "offline_access"]
        redirect_uris: ["https://gitops.${SECRET_PUBLIC_DOMAIN}/oauth2/callback"]
        userinfo_signing_algorithm: none
