---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app vector-aggregator
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: vector
      version: 0.28.0
      sourceRef:
        kind: HelmRepository
        name: vector
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podAnnotations:
      configmap.reloader.stakater.com/reload: vector-aggregator
    role: Stateless-Aggregator
    customConfig:
      data_dir: /vector-data-dir
      api:
        enabled: false
      #
      # Sources
      #
      sources:
        journal_logs:
          type: vector
          address: 0.0.0.0:6000
          version: "2"
        kubernetes_logs:
          type: vector
          address: 0.0.0.0:6010
          version: "2"
        udm_logs:
          address: 0.0.0.0:6100
          type: syslog
          mode: "udp"
          max_length: 102_400
        vector_metrics:
          type: internal_metrics
      #
      # Transformations
      #
      transforms:
        kubernetes_logs_remap:
          type: remap
          inputs:
            - kubernetes_logs
          source: |
            # Standardize 'app' index
            .custom_app_name = .pod_labels."app.kubernetes.io/name" || .pod_labels.app || .pod_labels."k8s-app" || "unknown"
        udm_logs_xform:
          type: "remap"
          inputs:
            - "udm_logs"
          source: |-
            .timestamp=null
      #
      # Sinks
      #
      sinks:
        loki_journal:
          type: loki
          inputs:
            - journal_logs
          endpoint: &loki http://loki-gateway:80
          encoding:
            codec: json
          batch:
            max_bytes: 2049000
          out_of_order_action: accept
          remove_label_fields: true
          remove_timestamp: true
          labels:
            hostname: >-
              {{`{{ host }}`}}
        loki_kubernetes:
          type: loki
          inputs:
            - kubernetes_logs_remap
          endpoint: *loki
          encoding:
            codec: json
          batch:
            max_bytes: 2049000
          out_of_order_action: rewrite_timestamp
          remove_label_fields: true
          remove_timestamp: true
          labels:
            app: >-
              {{`{{ custom_app_name }}`}}
            container: >-
              {{`{{ kubernetes.container_name }}`}}
            filename: >-
              {{`{{ kubernetes.file }}`}}
            namespace: >-
              {{`{{ kubernetes.pod_namespace }}`}}
            node: >-
              {{`{{ kubernetes.pod_node_name }}`}}
            pod: >-
              {{`{{ kubernetes.pod_name }}`}}
        loki_udm:
          type: loki
          inputs:
            - udm_logs_xform
          endpoint: *loki
          batch:
            max_bytes: 1048576
          out_of_order_action: rewrite_timestamp
          remove_label_fields: true
          remove_timestamp: true
          encoding:
            codec: json
          labels:
            hostname: >-
              {{`{{ host }}`}}
            appname: >-
              {{`{{ appname }}`}}
        prometheus_sink:
          type: prometheus_exporter
          inputs:
            - vector_metrics
          address: 0.0.0.0:9090
    replicas: 3
    podMonitor:
      enabled: true
      jobLabel: vector-aggregator
      port: prometheus-sink
    service:
      enabled: true
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "${LB_VECTOR_IP}"
    resources:
      requests:
        cpu: 34m
        memory: 127M
      limits:
        cpu: 57m
        memory: 788M
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app

