---
# yaml-language-server: $schema=https://kubernetes-schemas.oxygn.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: weave-gitops
  namespace: flux-system
spec:
  interval: 15m
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.34
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    logLevel: info #debug
    adminUser:
      create: true
      username: admin
    oidcSecret:
      create: false
      # clientID: weave-gitops
      # clientSecret: ${SECRET_WEAVEGITOPS_OAUTH_CLIENT_SECRET}
      # issuerURL: "https://auth.${SECRET_PUBLIC_DOMAIN}"
      # redirectURL: "https://gitops.${SECRET_PUBLIC_DOMAIN}/oauth2/callback"
    ingress:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "http"
        hajimari.io/enable: "true"
        hajimari.io/icon: sawtooth-wave
      hosts:
        - host: &host "gitops.${SECRET_PUBLIC_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: weave-gitops-tls
    networkPolicy:
      create: true
    metrics:
      enabled: true
    rbac:
      create: true
      impersonationResourceNames: ["admin"]
      impersonationResources: ["users", "groups"]
      viewSecretsResourceNames: ["cluster-user-auth", "oidc-auth"]
      additionalRules:
        - apiGroups: ["infra.contrib.fluxcd.io"]
          resources: ["terraforms"]
          verbs: ["get", "list", "patch"]
    podAnnotations:
      secret.reloader.stakater.com/reload: weave-gitops-secret
  valuesFrom:
    - kind: Secret
      name: weave-gitops-secret
      valuesKey: adminPassword
      targetPath: adminUser.passwordHash
