---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app cs2
  namespace: gaming
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    timeout: 20m
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    timeout: 20m
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
    dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync
  values:
    image:
      repository: ghcr.io/gameservermanagers/gameserver
      tag: csgo@sha256:84579d7e4888e4a3ffa15639cfe90699011bb15998287efb19ed47ca4a506bf3
    env:
      TZ: "${TIMEZONE}"
      CS2__INSTANCE_NAME: CS2
      CS2__GAMEPORT: &gameport 27015
      CS2__CLIENTPORT: &clientport 27005
      CS2__LOG_LEVEL: info
    service:
      main:
        type: LoadBalancer
        annotations:
          coredns.io/hostname: "redis.${SECRET_PUBLIC_DOMAIN}"
          io.cilium/lb-ipam-ips: "${LB_CS2_IP}"
        ports:
          http:
            enabled: false
          gametcp:
            enabled: true
            port: *gameport
            protocol: TCP
          gameudp:
            enabled: true
            port: *gameport
            protocol: UDP
          clienttcp:
            enabled: true
            port: *clientport
            protocol: TCP
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          tcpSocket:
            port: *gameport
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: true
        custom: true
        spec:
          tcpSocket:
            port: *gameport
          initialDelaySeconds: 0
          periodSeconds: 60
          timeoutSeconds: 1
          failureThreshold: 20
    ingress:
      main:
        enabled: true
        ingressClassName: "external"
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_PUBLIC_DOMAIN}"
          hajimari.io/enable: "true"
          hajimari.io/icon: "controller"
          hajimari.io/group: "gaming"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: *gameport
        tls:
          - hosts:
              - *host
            secretName: cs2-tls
    persistence:
      data:
        enabled: true
        existingClaim: cs2-data-v1
    podAnnotations:
      secret.reloader.stakater.com/reload: *app
    resources:
      requests:
        cpu: 25m
        memory: 512M
      limits:
        memory: 1G
    # prometheus:
    #   podMonitor:
    #     enabled: true
    #     interval: 3m
    #     scrapeTimeout: 1m30s
    # podSecurityContext:
    #   runAsUser: 1000
    #   runAsGroup: 1000
    #   fsGroup: 1000
    #   fsGroupChangePolicy: "OnRootMismatch"
    #   supplementalGroups:
    #     - 100
