---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app thanos
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: thanos
      version: 12.15.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      registry: quay.io
      repository: thanos/thanos
      tag: v0.32.5
    existingObjstoreSecret: &secret thanos-objstore-secret
    query:
      enabled: true
      replicaCount: 1
      deploymentStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
      podAntiAffinityPreset: hard
      replicaLabel:
        - __replica__
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: monitoring
      ingress:
        enabled: true
        hostname: &host "thanos-query.${SECRET_PUBLIC_DOMAIN}"
        ingressClassName: "internal"
        tls: true
        extraTls:
          - hosts:
              - *host
            secretName: thanos-query-tls
    queryFrontend:
      enabled: true
      replicaCount: 1
      deploymentStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
    bucketweb:
      enabled: true
      replicaCount: 1
      deploymentStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
      podAntiAffinityPreset: hard
      ingress:
        enabled: true
        hostname: &host "thanos-bucketweb.${SECRET_PUBLIC_DOMAIN}"
        ingressClassName: "internal"
        tls: true
        extraTls:
          - hosts:
              - *host
            secretName: thanos-bucketweb-tls
    compactor:
      enabled: true
      extraFlags:
        - "--compact.concurrency"
        - "4"
      retentionResolutionRaw: 7d
      retentionResolution5m: 14d
      retentionResolution1h: 30d
      ingress:
        enabled: true
        hostname: &host "thanos-compactor.${SECRET_PUBLIC_DOMAIN}"
        ingressClassName: "internal"
        tls: true
        extraTls:
          - hosts:
              - *host
            secretName: thanos-compactor-tls
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 50Gi
    storegateway:
      enabled: true
      replicaCount: 1
      podAntiAffinityPreset: hard
      ingress:
        enabled: true
        hostname: &host "thanos-storegateway.${SECRET_PUBLIC_DOMAIN}"
        ingressClassName: "internal"
        tls: true
        extraTls:
          - hosts:
              - *host
            secretName: thanos-storegateway-tls
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 5Gi
    ruler:
      enabled: true
      replicaCount: 1
      podAntiAffinityPreset: hard
      dnsDiscovery:
        enabled: true
      alertmanagers:
        - http://kube-prometheus-stack-alertmanager.monitoring.svc.cluster.local.:9093
      clusterName: "${CLUSTER_NAME}"
      extraFlags:
        - "--web.prefix-header=X-Forwarded-Prefix"
      config: |-
        groups:
          - name: "PrometheusWatcher"
            rules:
              - alert: "PrometheusDown"
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
      ingress:
        enabled: true
        hostname: &host "thanos-ruler.${SECRET_PUBLIC_DOMAIN}"
        ingressClassName: "internal"
        tls: true
        extraTls:
          - hosts:
              - *host
            secretName: thanos-ruler-tls
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 5Gi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  postRenderers:
    - kustomize:
        patchesJson6902:
          - target:
              kind: Deployment
              name: thanos-bucketweb
            patch:
              - op: replace
                path: /spec/strategy
                value:
                  type: RollingUpdate
                  rollingUpdate:
                    maxSurge: 1
                    maxUnavailable: 1
          - target:
              kind: Deployment
              name: thanos-query-frontend
            patch:
              - op: replace
                path: /spec/strategy
                value:
                  type: RollingUpdate
                  rollingUpdate:
                    maxSurge: 1
                    maxUnavailable: 1
          - target:
              kind: Deployment
              name: thanos-query
            patch:
              - op: replace
                path: /spec/strategy
                value:
                  type: RollingUpdate
                  rollingUpdate:
                    maxSurge: 1
                    maxUnavailable: 1
