---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vector-agent
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: vector
      version: 0.28.0
      sourceRef:
        kind: HelmRepository
        name: vector
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podAnnotations:
      configmap.reloader.stakater.com/reload: vector-agent
    role: Agent
    customConfig:
      data_dir: /vector-data-dir
      api:
        enabled: false
      # Sources
      sources:
        journal_logs:
          type: journald
          journal_directory: /var/log/journal
        kubernetes_logs:
          type: kubernetes_logs
          pod_annotation_fields:
            container_image: "container_image"
            container_name: "container_name"
            pod_annotations: "pod_annotations"
            pod_labels: "pod_labels"
            pod_name: "pod_name"
        vector_metrics:
          type: internal_metrics
      # Sinks
      sinks:
        loki_journal_sink:
          type: vector
          inputs:
            - journal_logs
          address: vector-aggregator:6000
          version: "2"
        loki_kubernetes_sink:
          type: vector
          inputs:
            - kubernetes_logs
          address: vector-aggregator:6010
          version: "2"
        prometheus_sink:
          type: prometheus_exporter
          inputs:
            - vector_metrics
          address: 0.0.0.0:9090
    podMonitor:
      enabled: true
      jobLabel: vector-agent
      port: prometheus-sink
    resources:
      requests:
        cpu: 200m
        memory: 256M
      limits:
        cpu: 500m
        memory: 512M
    service:
      enabled: false
    securityContext:
      privileged: true
    tolerations:
      - key: node-role.kubernetes.io/controlplane
        effect: NoSchedule
        operator: Exists
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
        operator: Exists
